.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: url("/assets/carBg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 70px var(--smallPadding) 0;
}
.detailsWrap {
  max-width: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background: var(--backgroundGrey);
  padding: 30px 0 0;
  border-radius: var(--radius);
}
.orderDetails {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 20px;
}
.orderDetails p span {
  color: var(--primaryColor);
  font-weight: 600;
}
.orderDetails p {
  color: var(--mainGrey);
  letter-spacing: var(--small-spacing);
  text-transform: capitalize;
}
.hideDetails {
  display: flex;
  gap: 0.3rem;
  width: 100%;
  padding: 20px;
  justify-content: center;
  border: none;
  background: var(--primaryColor);
  cursor: pointer;
  transition: var(--mainTransition);
  font-weight: 600;
}
.hideDetails a {
  color: var(--mainWhite);
  font-size: 1rem;
}
.hideDetails:hover {
  background: var(--hoverColor);
}
