.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  padding: 0 var(--smallPadding);
}
.aboutWrap {
  max-width: 480px;
  width: 100%;
  padding: 80px 0 0;
}
.aboutSec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
.aboutSec1 h2 {
  font-size: 2.3rem;
  letter-spacing: var(--small-spacing);
  color: var(--blackGrey);
}
.aboutSec1 p {
  color: var(--mainGrey);
  letter-spacing: var(--small-spacing);
  line-height: var(--line-height);
}
.scrollCount {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.scrollCount .count {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 30px 0 40px;
  background: var(--backgroundGrey);
  box-shadow: 0 5px 15px rgb(247, 247, 247);
}
.scrollCount .count h2 {
  color: var(--primaryColor);
  font-size: 2.3rem;
  letter-spacing: var(--small-spacing);
}
.scrollCount .count p {
  letter-spacing: var(--small-spacing);
}
.board {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url("/assets/directors.jpeg");
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px 0;
  padding: 100px var(--smallPadding) 120px;
}
.boardWrap {
  max-width: 480px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.boardWrap h2 {
  color: var(--mainWhite);
  font-size: 2.3rem;
  margin-bottom: 30px;
}
.directors {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.director {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}
.director .imgBx {
  height: 400px;
  width: 100%;
  position: relative;
}
.director .imgBx .icons {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
}
.director .imgBx .icons span {
  padding: 6px 5px 3px;
  margin-right: 8px;
  background: var(--primaryColor);
  border-radius: var(--small-radius);
  color: var(--mainWhite);
  font-size: 1.2rem;
}
.director .textBx {
  color: var(--mainWhite);
}
.director .textBx h5 {
  font-size: 1.15rem;
  margin-bottom: 7px;
}
.director .textBx p {
  font-size: 0.9rem;
  letter-spacing: var(--small-spacing);
}
.features {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
.featuresWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
}
.featuresWrap h2 {
  text-align: center;
  font-size: 2.3rem;
  color: var(--blackGrey);
  margin-bottom: 30px;
}
.featuresList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.right,
.center,
.left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.right .feature {
  text-align: right;
}
.feature {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.feature .icon {
  background: var(--primaryColor);
  padding: 15px 15px 8px;
  margin-bottom: 20px;
  color: var(--mainWhite);
  border-radius: var(--small-radius);
  font-size: 1.3rem;
}
.feature h5 {
  font-size: 1.15rem;
  color: var(--blackGrey);
  line-height: var(--line-height);
  margin-bottom: 5px;
}
.feature p {
  color: var(--mainGrey);
  letter-spacing: var(--small-spacing);
  line-height: var(--line-height);
}
.feature .img {
  width: 100%;
  height: 220px;
  position: relative;
}

@media screen and (max-width: 457px) {
  .feature .img {
    height: 170px;
  }
}
@media screen and (min-width: 576px) {
  .scrollCount {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .directors {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .director .imgBx {
    height: 230px;
  }
}
@media screen and (min-width: 768px) {
  .aboutWrap,
  .boardWrap,
  .featuresWrap {
    max-width: 650px;
  }
  .director .imgBx {
    height: 330px;
  }
  .feature .img {
    height: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .aboutWrap,
  .featuresWrap {
    width: var(--width);
    margin-inline: var(--margin-inline);
    max-width: 100%;
  }
  .aboutSec1 {
    flex-direction: row;
    align-items: flex-start;
  }
  .aboutSec1 h2 {
    flex: 1;
  }
  .aboutSec1 p {
    flex: 1;
  }
  .scrollCount {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .boardWrap {
    width: var(--width);
    margin-inline: var(--margin-inline);
    max-width: 100%;
  }
  .directors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .director .imgBx {
    height: 230px;
  }
  .featuresList {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
  }
  .feature h5 {
    font-size: 1rem;
  }
  .feature p {
    font-size: 0.9rem;
  }
  .feature .img {
    height: 220px;
  }
}
@media screen and (min-width: 1200px) {
  .feature .img {
    height: 250px;
  }
}
