.container {
  color: var(--mainWhite);
}

.hero {
  padding: 120px var(--smallPadding);
  background: url("/assets/body.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroWrap {
  max-width: 480px;
}
.imgBx {
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 5px;
}
.img {
  object-fit: cover;
  border-radius: 0.5rem;
}
.textBx h6 {
  color: var(--lightGrey);
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.textBx h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}
.textBx h2 span {
  color: var(--primaryColor);
  letter-spacing: var(--spacing);
}
.textBx p {
  letter-spacing: var(--small-spacing);
  line-height: var(--line-height);
  margin-bottom: 20px;
}
.textBx button {
  border: none;
  border-radius: var(--radius);
  margin-bottom: 30px;
}
.textBx button a {
  display: flex;
  background: var(--primaryColor);
  padding: 10px 30px;
  color: var(--mainWhite);
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: var(--small-radius);
}
.number {
  padding: 25px 30px 5px;
  margin-bottom: 25px;
  position: relative;
}
.number::before {
  background: grey;
  opacity: 0.3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.number h2 {
  font-size: 2rem;
  color: var(--primaryColor);
  margin-bottom: 5px;
}
.number p {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}
.fleets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 70px var(--smallPadding);
}
.fleetsWrap {
  max-width: 480px;
  width: 100%;
}
.fleets .header {
  margin-bottom: 40px;
  text-align: center;
}
.fleets .header h2 {
  color: var(--mainBlack);
  font-size: 2.3rem;
  margin-bottom: 10px;
}
.fleets .header p {
  color: var(--mainGrey);
  line-height: var(--line-height);
  letter-spacing: var(--small-spacing);
}
.fleet {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: var(--smallPadding);
}
.exploreWrap {
  max-width: 480px;
  width: 100%;
}
.exploreWrap h2,
.qualityWrap h2 {
  font-size: 2.3rem;
  margin-bottom: 30px;
}
.exploreWrap .offers {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.exploreWrap .offers .offer .icon {
  display: inline-block;
  background: var(--primaryColor);
  padding: 20px 20px 12px;
  margin-bottom: 20px;
  color: var(--mainWhite);
  border-radius: var(--small-radius);
  font-size: 2rem;
}
.exploreWrap .offers .offer h5 {
  font-size: 1.15rem;
  margin-bottom: 10px;
}
.exploreWrap .offers .offer p {
  color: var(--mainGrey);
  line-height: var(--line-height);
  letter-spacing: var(--small-spacing);
}
.quality {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px var(--smallPadding);
  background: var(--backgroundGrey);
  margin: 70px 0;
}
.qualityWrap {
  max-width: 480px;
  width: 100%;
}
.singleQuality {
  display: flex;
  margin-bottom: 20px;
}
.singleQuality button {
  padding: 15px 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.75rem;
  transition: var(--mainTransition);
}
.luxuryButton,
.comfortButton,
.prestigeButton {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-radius: var(--small-radius);
  font-weight: 600;
  box-shadow: var(--dark-shadow);
}
.luxuryButtonHide,
.comfortButtonHide,
.prestigeButtonHide {
  background: transparent;
  color: var(--mainGrey);
}
.luxury,
.comfort,
.prestige {
  color: var(--mainGrey);
  line-height: var(--line-height);
  letter-spacing: var(--small-spacing);
}
.luxuryHide,
.comfortHide,
.prestigeHide {
  display: none;
}
.qualityImg {
  display: none;
}

@media screen and (min-width: 768px) {
  .heroWrap,
  .fleetsWrap,
  .exploreWrap,
  .qualityWrap {
    max-width: 650px;
  }
  .imgBx {
    height: 500px;
  }
  .exploreWrap .offers {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .heroWrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: var(--width);
    margin-inline: var(--margin-inline);
    max-width: 100%;
    gap: 3.5rem;
  }
  .imgBx {
    flex: 1;
    height: 350px;
  }
  .textBx {
    flex: 1;
  }
  .textBx h6 {
    font-size: 1rem;
  }
  .numbers {
    display: flex;
    gap: 1rem;
  }
  .number {
    width: 150px;
  }
  .fleetsWrap {
    width: var(--width);
    margin-inline: var(--margin-inline);
    max-width: 100%;
  }
  .fleet {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  .exploreWrap {
    width: var(--width);
    margin-inline: var(--margin-inline);
    max-width: 100%;
    display: flex;
    gap: 1.5rem;
  }
  .quality {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.5rem;
    padding: 0 var(--smallPadding) 0 0;
  }
  .qualityImg {
    display: flex;
    flex: 1;
    background: url("/assets/home-sec1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
  }
  .qualityWrap {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 100%;
  }
}
