.container,
.containerActive {
  padding: 15px var(--smallPadding);
  background: var(--mainWhite);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: var(--mainTransition);
}
.containerActive {
  background: var(--primary-red);
}
.navHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navToggle,
.navToggleShow {
  font-size: 1.8rem;
  color: var(--mainGrey);
  background: transparent;
  border-color: transparent;
  transition: var(--mainTransition);
  cursor: pointer;
}
.navToggleShow {
  color: var(--primary-red);
}
.logo {
  color: var(--primaryColor);
  font-size: 1.2rem;
}
.logo span {
  color: var(--secColor);
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50%;
  gap: 2rem;
}
.links a {
  color: var(--primaryColor);
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--mainTransition);
  text-align: center;
}
.links a:hover {
  color: var(--secColor);
  transition: var(--mainTransition);
}
.linksContainer {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
}
.signIn {
  display: none;
}

@media screen and (min-width: 768px) {
  .links a {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    background: transparent;
  }
  .navCenter {
    width: min(120ch, 100% - 4rem);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  .navHeader {
    background: transparent;
  }
  .logo {
    color: var(--mainWhite);
  }
  .navToggle,
  .navToggleShow {
    display: none;
  }
  .linksContainer {
    height: auto !important;
  }
  .links {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }
  .links a {
    padding-top: 0;
    font-size: 0.9rem;
    color: var(--mainWhite);
  }
  .links a:hover {
    color: var(--secColor);
  }
  .signIn {
    display: flex;
    background: var(--primaryColor);
    padding: 10px 30px;
    color: var(--mainWhite);
    font-size: 0.9rem;
    border-radius: var(--radius);
    font-weight: 600;
  }
}
/* @media screen and (min-width: 1200px) {
  .navCenter {
    width: min(133ch, 100% - 4rem);
  }
} */
